<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AppBasicExampleGui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>App_BasicExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>App_ExampleBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>App_HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>App_PhysicsServer_SharedMemory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>App_PhysicsServer_SharedMemory_GUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>App_PhysicsServer_SharedMemory_VR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>App_RobotSimulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>App_obj2sdf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Bullet2FileLoader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>Bullet3Collision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>Bullet3Common.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>Bullet3Dynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>Bullet3Geometry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>Bullet3OpenCL_clew.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>BulletCollision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>BulletDynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>BulletExampleBrowserLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>BulletFileLoader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>BulletInverseDynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>BulletInverseDynamicsUtils.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>BulletRobotics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>BulletSoftBody.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>BulletWorldImporter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>BulletXmlWorldImporter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>BussIK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ConvexDecomposition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>GIMPACTUtils.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>HACD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>LinearMath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>OpenGLWindow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Test_BulletDynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>Test_BulletInverseDynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>Test_BulletInverseDynamicsJacobian.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>Test_BulletInverseForwardDynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>Test_Collision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>Test_PhysicsClientServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>Test_btKinematicCharacterController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>clsocket.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>gtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>gwen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>pybullet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>422F14A3FF8A4187A3C0CF7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58DEE03DCDE5461A81BBE300</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A82B5668EC244E469B4ADD77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF1175C0E5144F5E945C26C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
